body {
	background-color: #F2F9FD;
    margin-left: 30px;
    margin-top: 15px;
}

.dropbtn {
    background-color: #60879E;
    color: white;
    padding: 10px;
    font-size: 16px;
    min-width: 180px;
    text-align: center;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    padding: 10px;
     background-color: white;
    min-width: 160px;
    text-align: center;
    
}

.dropdown-content div:hover{
	background-color: #E0E0E0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.question {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0.5em;
}

input {
    margin-left: 10px;
}

input[type=text] {
    width: 25em;
    height: 2em;
}

input[type=submit] {
    background-color: #4D7790; /* Dark blue */
    border: none;
    color: white;
    padding: 10px 28px;
    margin-left: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border: none;
    border-color: transparent;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #4B7290;
}

#title {
    margin: 0 auto;
    text-align:center;
}