html, body {
    font-family: sans-serif;
}
.hidden {
	display: none;
}
.navbar > .container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo {
    color: #C4820E;
    font-size: 48px;
}
.navbar-logo:focus, .navbar-logo:hover {
    text-decoration: none;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
a, a:visited {
    text-decoration: none;
    color: #00B0DA;
}
a:focus, a:hover {
    text-decoration: underline;
}

.headerlink {
    text-decoration: underline;
    color:  #C4820E;
}

.mock-text-input {
    min-height: 1.5em;
    border: 1px solid #cccccc;
    background-color: #e8e8e8;
    width: 300px;
    padding: 1em 1em;
}
.mock-textarea-input {
    min-height: 4em;
    border: 1px solid #cccccc;
    background-color: #e8e8e8;
    width: 400px;
    padding: 1em 1em;
}

.question {
    padding: 1em 1em;
}
.editing {
    background-color: #F2F9FE;
}

.applist {
    width: 100%;
}

.applist-entry {
    border: 1px solid grey;
    width: 100%;
}

@media (max-width: 768px) {
    width: 700px;
}
@media (min-width: 769px) and (max-width: 1024px) {
    width: 900px;
}

.nolinkstyle {
    color: black !important; 
}

/* Dropdown Button */
.dropbtn {
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #879fb0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content {
    display: none; /* All dropdowns are hidden by default */
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Move to Category dropdown elements styling */
.dropdownElem {
    border: solid;
    border-width: 1px;
    border-color: white;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    min-width: 150px;
}