.left {
	float: left;
	width: 300px;
	margin-left: 40px;
	margin-right: 5px;

}

.right {
	float: right;
	width: 750px;
	margin-left: 5px;
	margin-right: 40px;
}

.categories {
	background-color: #e8e8e8;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;

}

.applications {
	background-color: #e8e8e8;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}