{% extends 'portal/dashboard.html' %}
{% load static from staticfiles %}
{% block titletext %}ApplicationViewer{% endblock %}
{% block dashboard_externals %}

<link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">
{% endblock dashboard_externals %}
{% block dashboard_content %}

<!-- hidden buttons to store pks for responsive move to category and assign user -->
<button id = "application_pk" value = "{{application.pk}}" hidden = "true"></button>

{% for cat in list_cat %}
  <button class = "category_pks" value = "{{cat.pk}}" hidden = "true"></button>
{% endfor %}

<div id = "application">
  <br>
  <h1> You are viewing {{first_name}} {{last_name}}'s application for CodeBase. </h1>
  <div id="head">
    <h2> {{first_name}} {{last_name}} &nbsp;<button class="blueBtn" type = "button"
      onclick="window.location.href='mailto:{{email}}'">{{email}}</button></h2>
  </div>
  <hr>

	<div id = "basic info">
		{% for question,answer,option_list in qa_tuple%}
			{% if question.question_type == "Radiobutton" %}
				<div>
					<p id = "question">
					{{question.question_text}}: <br>
					</p>
              		<div id="answer">
                		{% for option in option_list %}
                    		{% if answer in option %}
                      			<input type="radio" disabled = 'disabled' value="{{option}}" checked> {{option}}<br>
                    		{% elif option not in answer %}
                      			<input type="radio" disabled = 'disabled' value="{{option}}"> {{option}}<br>
                    		{% endif %}
                		{% endfor %}
              		</div>
				</div>
			{% endif %}
			{% if question.question_type == "Checkbox"  %}
				<div>
					<p id = "question">
					{{question.question_text}}: </p>
					<br>
            		<div id="answer">
						{% for option in option_list %}
                  			{% if option in answer %}
                    			<input type="checkbox" name="class" disabled = 'disabled' value={{option}} checked> {{option}}<br>
                  			{% elif option not in answer %}
                    			<input type="checkbox" name="class" disabled = 'disabled' value={{option}} > {{option}}<br>
                  			{% endif %}
              			{% endfor %}
            		</div>
				</div>
			{% endif %}
			{% if question.question_type == "Dropdown" %}
				<div>
					<p id = "question">
					{{question.question_text}}: <br>
					</p>
            		<div id="answer">
                 			<select disabled>
                    			<option value={{answer}}>{{answer}}</option>
                  		</select>
            		</div>
				</div>
			{% endif %}
			{% if question.question_type == "Paragraph" %}
				<div>
					<p id = "question">
					{{question.question_text}}: <br>
            	</p>
            	<p id = "answer">
				{{answer}}
				</p>
				</div>
			{% endif %}
		{% endfor %}
  </div>
  <hr>

  <h3><b>Rating:</b></h3>
  <div id = "ratinfo">
    {% for i in filled_rating %}
      <button class="ratingStar" id="star-{{ i }}" type="submit" name="rating" value={{ i }}>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
      </button>
    {% endfor %}
    {% for i in empty_rating %}
      <button class="ratingStar" id="star-{{ i }}" type="submit" name="rating" value={{ i }}>
        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      </button>
    {% endfor %}
    <br><br>
  </div>


<div class = "com-info">
<h2 id = "comment_title">Comments:</h2>
    {% for ind_comment in comments %}
    <div id = "{{ind_comment.id}}">
      <div class = "crop">
            	<img src="{% static "images/user.png" %}" alt="cannot load"/>
        	</div>
      		<p class = "commenter">{{ind_comment.user.username}}</p>
      		<br>
      		<p class = "content">{{ind_comment.comment_text}} </p>
          <form onsubmit = "return false" class = "right-form" >
            <input class = "delete" type="image" id = "del" value = {{ind_comment.id}} src = "{% static "images/trash.svg"%}">
          </form>
    </div>
    {% endfor %}
  </div>


  <input class = "add_comment" id = "submit" type="image" src="{% static "images/add_comment.png" %}" alt="Submit Form" />
  <textarea id ="text" placeholder = "Add a comment. . ."></textarea> </br>
  <div class="dropdown">
    <button id="catDropBtn" class="dropbtn blueBtn">Move to Category <i class="fa fa-angle-down" aria-hidden="true"></i></button>
    <div id="catDropdown" class="cat-dropdown dropdown-content">
      {% for cat in list_cat %}
        {% if cat == category %}
          <button id = "{{ cat.pk }}" class="dropdownElem catElem" name="category" value="{{ cat.pk }}">
            <i class="fa fa-check" aria-hidden="true"></i> {{ cat }}
          </button><br>
        {% else %}
          <button id = "{{ cat.pk }}" class="dropdownElem catElem" name="category" value="{{ cat.pk }}">
            <i class="hidden fa fa-check" aria-hidden="true"></i> {{ cat }}
          </button><br>
        {% endif %}
      {% endfor %}

    </div>
  </div>

  <div class="dropdown">
    <button id="userDropBtn" class="dropbtn blueBtn">Assign to User <i class="fa fa-angle-down" aria-hidden="true"></i></button>
    <div id="userDropdown" class="dropdown-content">
      {% for user in list_user %}
        {% if user in assigned_users %}
          <button id="{{ user.pk }}" class="dropdownElem userElem" name="chosen_user" value="{{ user.pk }}">
            <i class="fa fa-check" aria-hidden="true"></i> {{ user }}
          </button><br>
        {% else %}
          <button id="{{ user.pk }}" class="dropdownElem userElem"  name="chosen_user" value="{{ user.pk }}"> 
            <i class="hidden fa fa-check" aria-hidden="true"></i> {{ user }}
          </button><br>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'scripts/application-changes.js' %}"></script>
{% endblock dashboard_content %}

