{% extends 'portal/dashboard.html' %}
{% load static from staticfiles %}
{% block titletext %}ApplicationViewer{% endblock %}
{% block dashboard_externals %}

<link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock dashboard_externals %}
{% block dashboard_content %}

<!-- hidden buttons to store pks for responsive move to category and assign user -->
<button id = "application_pk" value = "{{application.pk}}" hidden = "true"></button>

{% for cat in list_cat %}
  <button class = "category_pks" value = "{{cat.pk}}" hidden = "true"></button>
{% endfor %}

<div id = "application">
  <br>
  <h1> You are viewing {{first_name}} {{last_name}}'s application for CodeBase. </h1>
  <div id="head">
    <h2> {{first_name}} {{last_name}} &nbsp;<button class="blueBtn" type = "button"
      onclick="window.location.href='mailto:{{email}}'">{{email}}</button></h2>
  </div>
  <hr>

	<div id = "basic info">
		{% for question,answer,option_list in qa_tuple%}
			{% if question.question_type == "Radiobutton" %}
				<div>
					<p id = "question">
					{{question.question_text}}: <br>
					</p>
              		<div id="answer">
                		{% for option in option_list %}
                    		{% if answer in option %}
                      			<input type="radio" disabled = 'disabled' value="{{option}}" checked> {{option}}<br>
                    		{% elif option not in answer %}
                      			<input type="radio" disabled = 'disabled' value="{{option}}"> {{option}}<br>
                    		{% endif %}
                		{% endfor %}
              		</div>
				</div>
			{% endif %}
			{% if question.question_type == "Checkbox"  %}
				<div>
					<p id = "question">
					{{question.question_text}}: </p>
					<br>
            		<div id="answer">
						{% for option in option_list %}
                  			{% if option in answer %}
                    			<input type="checkbox" name="class" disabled = 'disabled' value={{option}} checked> {{option}}<br>
                  			{% elif option not in answer %}
                    			<input type="checkbox" name="class" disabled = 'disabled' value={{option}} > {{option}}<br>
                  			{% endif %}
              			{% endfor %}
            		</div>
				</div>
			{% endif %}
			{% if question.question_type == "Dropdown" %}
				<div>
					<p id = "question">
					{{question.question_text}}: <br>
					</p>
            		<div id="answer">
                 			<select disabled>
                    			<option value={{answer}}>{{answer}}</option>
                  		</select>
            		</div>
				</div>
			{% endif %}
			{% if question.question_type == "Paragraph" %}
				<div>
					<p id = "question">
					{{question.question_text}}: <br>
            	</p>
            	<p id = "answer">
				{{answer}}
				</p>
				</div>
			{% endif %}
		{% endfor %}
  </div>
  <hr>

  <h3><b>Rating:</b></h3>
  <div id = "ratinfo">
    {% for i in filled_rating %}
    <!-- <form action="{% url 'portal:change_rating' application.pk %}" method="POST"> -->
      {% csrf_token %}
      <button class="ratingStar" id="star-{{ i }}" type="submit" name="rating" value={{ i }}>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
      </button>
    <!-- </form> -->
    {% endfor %}
    {% for i in empty_rating %}
    <!-- <form action="{% url 'portal:change_rating' application.pk %}" method="POST"> -->
      {% csrf_token %}
      <button class="ratingStar" id="star-{{ i }}" type="submit" name="rating" value={{ i }}>
        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      </button>
    <!-- </form> -->
    {% endfor %}
    <br><br>
  </div>


<div class = "com-info">
<h2 id = "comment_title">Comments:</h2>
    {% for ind_comment in comments %}
    <div id = "{{ind_comment.id}}">
      <div class = "crop">
            	<img src="{% static "images/user.png" %}" alt="cannot load"/>
        	</div>
      		<p class = "commenter">{{ind_comment.user.username}}</p>
      		<br>
      		<p class = "content">{{ind_comment.comment_text}} </p>
          <form onsubmit = "return false" class = "right-form" >
            <input class = "delete" type="image" id = "del" value = {{ind_comment.id}} src = "{% static "images/trash.svg"%}">
          </form>
    </div>
    {% endfor %}
  </div>


  <input class = "add_comment" id = "submit" type="image" src="{% static "images/add_comment.png" %}" alt="Submit Form" />
  <textarea id ="text" placeholder = "Add a comment. . ."></textarea> </br>
  <div class="dropdown">
    <button onclick="dropdownFunc()" class="dropbtn blueBtn">Move to Category <i class="fa fa-angle-down" aria-hidden="true"></i></button>
    <div id="catDropdown" class="dropdown-content">
      {% for cat in list_cat %}
        {% if cat == category %}
          <button id = "{{ cat.pk }}" class="dropdownElem catElem" name="category" value="{{ cat.pk }}">
            <i class="fa fa-check" aria-hidden="true"></i> {{ cat }}
          </button><br>
        {% else %}
          <button id = "{{ cat.pk }}" class="dropdownElem catElem" name="category" value="{{ cat.pk }}">
            {{ cat }}
          </button><br>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="dropdown">
    <button onclick="dropdownFunc()" class="dropbtn blueBtn">Assign to User <i class="fa fa-angle-down" aria-hidden="true"></i></button>
    <div id="userDropdown" class="dropdown-content">
      {% for user in list_user %}
        {% if user in assigned_users %}
          <button id="{{ user.pk }}" class="dropdownElem userElem" name="chosen_user" value="{{ user.pk }}">
            <i class="fa fa-check" aria-hidden="true"></i> {{ user }}
          </button><br>
        {% else %}
          <button id="{{ user.pk }}" class="dropdownElem userElem"  name="chosen_user" value="{{ user.pk }}"> 
            {{ user }}
          </button><br>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script>
var curr_URL;
var arr;
var app;
  /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function dropdownFunc() {
    document.getElementById("catDropdown").classList.toggle("show");
    document.getElementById("userDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

$(".userElem").on("click", function(event) {
  event.preventDefault();

  var curruser_pk = $(this).val()
  var currapp_pk = $("#application_pk").val()

  var data = {
    app_pk: currapp_pk,
    user_pk: curruser_pk,
    csrfmiddlewaretoken: "{{ csrf_token }}"
  }
  $.post("/portal/assign_user/", data, function(res) {
    event.preventDefault();
    if (res.success) {
      var has_check = ($("#"+curruser_pk).has("i").length ? true : false);

      if (has_check) {
        $("#"+curruser_pk).children("i").remove();
      } else {
        $("#"+curruser_pk).prepend("<i class='fa fa-check' aria-hidden='true'></i>");
      }
        
    }
  }, "JSON")
});

$(".catElem").on("click", function(event) {
  event.preventDefault();

  var currcat_pk = $(this).val()
  var currapp_pk = $("#application_pk").val()

  var data = {
    app_pk: currapp_pk,
    cat_pk: currcat_pk,
    csrfmiddlewaretoken: "{{ csrf_token }}"
  }

  $.post("/portal/assign_category/", data, function(res) {
    event.preventDefault();
    if (res.success) {

      var all_cat = document.getElementsByClassName("category_pks");

      for (var i=0; i<all_cat.length;i++) {
        $("#"+all_cat[i].value).children("i").remove();
      }
        
      $("#"+currcat_pk).prepend("<i class='fa fa-check' aria-hidden='true'></i>");

      for (var i=0; i<all_cat.length;i++) {
        $("#dash"+all_cat[i].value).children("i").remove();
      }
        
      $("#dash"+currcat_pk).prepend("<i class='fa fa-check' aria-hidden='true'></i>");
        
    }
  }, "JSON")
});  
$("#submit").on("click", function(event) {
    event.preventDefault();
    var data = {
        text: $("#text").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}"
    };
    $.post("{% url 'portal:create_comment' id %}", data, function(res) {
        event.preventDefault();
        if (res.success) {
          $(".com-info").append('<div id = ' + res.id + '><div class = "crop"><img src="{% static "images/user.png" %}" alt="cannot load"/></div><p class = "commenter">' + res.user + '</p><br><p class = "content">' + res.text +'</p><form onsubmit = "return false" class = "right-form" ><input class = "delete" type="image" id = "del" src = "{% static "images/trash.svg"%}" value = ' + res.id +'></form>');
        }
    }, "JSON")
});
$(document).on('click', '.delete', function() {
  event.preventDefault();
  var data = {
    num: $(this).val(),
    csrfmiddlewaretoken: "{{ csrf_token }}"
  }
  $.post("{% url 'portal:delete_comment'%}", data, function(res) {
      if (res.success){
        console.log(res.id);
        $(res.id).remove();
      }
  }, "JSON")
});

$( document ).ready(function() {

    curr_URL = window.location.href;
    arr = curr_URL.split('/');
    app = arr[arr.length-1]; // hacky way of getting the current application's ID on the clientside.

    $(document).on('click', "#star-1",function(event) {
        event.preventDefault();
        var data = {
            rating: $("#star-1").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
        };
        $.post("/portal/change_rating/" + app + "/", data, function(res) {
            event.preventDefault();
            var rating = parseInt($("#star-1").val());
            if (res.success) {
                $("#ratinfo").empty();
                //for i in rating, append a filled star to the div
                for (i = 1; i <= rating; i++) {
                    $("#ratinfo").append('<button class="ratingStar" id="star-'+ i + '"type="submit" name="rating" value=' + i + ' ><i class="fa fa-star fa-2x" aria-hidden="true"></i></button>');
                };
                for (j = rating + 1; j <= 5; j++) {
                    $("#ratinfo").append('<button class="ratingStar" id="star-' + j + '"type="submit" name="rating" value=' + j + '><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></button>');
                }
                $("#ratinfo").append('<br><br>');
            }
        }, "JSON")
    });

    $(document).on('click', "#star-2",function(event) {
        event.preventDefault();
        var data = {
            rating: $("#star-2").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
        };
        $.post("/portal/change_rating/" + app + "/", data, function(res) {
            event.preventDefault();
            var rating = parseInt($("#star-2").val());
            if (res.success) {
                $("#ratinfo").empty();
                //for i in rating, append a filled star to the div
                for (i = 1; i <= rating; i++) {
                    $("#ratinfo").append('<button class="ratingStar" id="star-'+ i + '"type="submit" name="rating" value=' + i + ' ><i class="fa fa-star fa-2x" aria-hidden="true"></i></button>');
                };
                for (j = rating + 1; j <= 5; j++) {
                    $("#ratinfo").append('<button class="ratingStar" id="star-' + j + '"type="submit" name="rating" value=' + j + '><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></button>');
                }
                $("#ratinfo").append('<br><br>');
            }
        }, "JSON")
    });

    $(document).on('click', "#star-3",function(event) {
        event.preventDefault();
        var data = {
            rating: $("#star-3").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
        };
        $.post("/portal/change_rating/" + app + "/", data, function(res) {
            event.preventDefault();
            var rating = parseInt($("#star-3").val());
            if (res.success) {
                $("#ratinfo").empty();
                //for i in rating, append a filled star to the div
                for (i = 1; i <= rating; i++) {
                    $("#ratinfo").append('<button class="ratingStar" id="star-'+ i + '"type="submit" name="rating" value=' + i + ' ><i class="fa fa-star fa-2x" aria-hidden="true"></i></button>');
                };
                for (j = rating + 1; j <= 5; j++) {
                    $("#ratinfo").append('<button class="ratingStar" id="star-' + j + '"type="submit" name="rating" value=' + j + '><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></button>');
                }
                $("#ratinfo").append('<br><br>');
            }
        }, "JSON")
    });

    $(document).on('click', "#star-4", function(event) {
        event.preventDefault();
        var data = {
            rating: $("#star-4").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
        };
        $.post("/portal/change_rating/" + app + "/", data, function(res) {
            event.preventDefault();
            var rating = parseInt($("#star-4").val());
            if (res.success) {
                $("#ratinfo").empty();
                //for i in rating, append a filled star to the div
                for (i = 1; i <= rating; i++) {
                    $("#ratinfo").append('<button class="ratingStar" id="star-'+ i + '"type="submit" name="rating" value=' + i + ' ><i class="fa fa-star fa-2x" aria-hidden="true"></i></button>');
                };
                for (j = rating + 1; j <= 5; j++) {
                    $("#ratinfo").append('<button class="ratingStar" id="star-' + j + '"type="submit" name="rating" value=' + j + '><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></button>');
                }
                $("#ratinfo").append('<br><br>');
            }
        }, "JSON")
    });

    $(document).on('click', "#star-5",function(event) {
        event.preventDefault();
        var data = {
            rating: $("#star-5").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
        };
        $.post("/portal/change_rating/" + app + "/", data, function(res) {
            event.preventDefault();
            var rating = parseInt($("#star-5").val());
            if (res.success) {
                $("#ratinfo").empty();
                //for i in rating, append a filled star to the div
                for (i = 1; i <= rating; i++) {
                    $("#ratinfo").append('<button class="ratingStar" id="star-'+ i + '"type="submit" name="rating" value=' + i + ' ><i class="fa fa-star fa-2x" aria-hidden="true"></i></button>');
                };
                for (j = rating + 1; j <= 5; j++) {
                    $("#ratinfo").append('<button class="ratingStar" id="star-' + j + '"type="submit" name="rating" value=' + j + '><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></button>');
                }
                $("#ratinfo").append('<br><br>');
            }
        }, "JSON")
    });

});
</script>

{% endblock dashboard_content %}
