{% extends 'portal/base.html' %}
{% load static from staticfiles %}
{% block titletext %}ApplicationViewer{% endblock %}
{% block externals %}<link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<body>
<div id = "application">
      <br>
      <h1> You are viewing {{first_name}} {{last_name}}'s application for CodeBase. </h1>
      <div id="head">
        <h2> {{first_name}} {{last_name}} &nbsp;<button type = "button"
          onclick="window.location.href='mailto:{{email}}'">{{email}}</button></h2>
      </div>
      <hr>
			<div id = "basic info">
      	<p> Expected Graduation: May 2019 </p>
      	<p>Current Major(s): Computer Science </p>
			</div>
      <p> Resume: {{answers}}  </p>
      <br>
      Check the classes you have taken:
      <form action="/action_page.php" method="get" id = "answer">
        <input type="checkbox" name="class" value="CS61A" > CS61A<br>
        <input type="checkbox" name="class" value="CS61B" checked> CS61B<br>
        <input type="checkbox" name="class" value="CS61C" checked> CS61C<br>
      </form>
      Why Code Base?
      <p id = "answer"> Hi My name is Andrew Chan and I really want to join CodeBase because it is the best club that does coding and stuff.
      Especially I heard the PMs of the mentored project have lots of $wag... </p>
      </div>
</body>
{% endblock %}
