button {
    background-color: #062459;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    float: right;
    display: inline-block;

}
h1 {
  font-weight:200;
  font-size: 10
}
h2 {
  font-weight:normal;
  display: inline-block;
  padding-left: 10px
}
#application {
  background-color:#ddedf2;
  font-family: sans-serif;
  padding-left:20px;;
}

#answer {
    padding-left:40px;;
}
