{% extends 'portal/base.html' %}
{% load static from staticfiles %}

{% block titletext %}Dashboard{% endblock %}
{% block externals %}<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">{% endblock %}


{% block content %}
	<div class="left">
		<div class="category_title">
			Applications
		</div>
		<div class="categories">
			<div class="category">
				<div class="category_text">
					All
				</div>
			</div>
			<div class="category">
				<div class="category_text">
					Others
				</div>
			</div>
			<div class="new_category">
				<div class="category_text">
					<img src="{% static 'images/plus-circle.svg' %}" class="category_plus">
					New Category
				</div>
			</div>
		</div>
		


	</div>

	<div class="right">
		<div class="searchbar">
			Applicant List
		</div>
		<div class="applications">
			<div class="applicant">
				<div class="selection_box">
				</div>
				<div class="applicant_name">
					Olivia
				</div>
				<div class="applicant_date">
					Today
				</div>
			</div>
			<div class="applicant">
				<div class="selection_box">
				</div>
				<div class="applicant_name">
					Elise
				</div>
				<div class="applicant_date">
					Today
				</div>
			</div>
			<div class="applicant">
				<div class="selection_box">
				</div>
				<div class="applicant_name">
					Jared
				</div>
				<div class="applicant_date">
					Today
				</div>
			</div>
		</div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$("div.selection_box").click(function() {
			if ($(this).find('img').length) {
				$(this).html('');
			} else {
				$(this).html('<img src="{% static "images/check.svg" %}" width="17px" height="17px">');
			}
		});
	});
	</script>

{% endblock %}
