$deepBlue-5: #f1f3f4;
$deepBlue-100: #000C2F;
$blue-5: #F2F8FF;
$blue-80: #3394FF;
$blue-100: #007AFF;
$blue-link: #007AB8;
$grey-off-white: #E6E6E6;
$grey-light: #d8d8d8;
$bronze: #C4820E;
$bay-fog: #DDD5C7;
$blue-mid: #427694;
$blue-hl: #61889E;
$blue-off-white: #F2F9FE;

$green-80: #42c299;

$container-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
$button-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.12);
$baby-shadow: 0 1px 0 rgba(0,0,0,.25);

$cool-gradient: radial-gradient(ellipse farthest-side at 100% 100%,#dbf6c8 20%,#1cafc6 50%,#012690 110%);

$screen-xs-max: 480px;
$screen-sm-min: 768px;
$screen-md-mid: 992px;
$screen-lg-min: 1200px;
