{% extends 'portal/dashboard/dashboard-skeleton.html' %}
{% load static from staticfiles %}
{% block titletext %}Dashboard{% endblock %}
{% block dashboard_externals %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_main.css' %}">

{% endblock dashboard_externals %}

{% block dashboard_content %}
<div class="applications">

    <div id = "selected_apps">

    {% for app in list_app %}
    <div class="applicant">
        <input value="{{app.pk}}" type="checkbox" class = "selection_box">
        <div class="applicant_name">
            {% if app.read == False %}
            <a href="{% url 'portal:get_application' app.pk %}"> <b> {{ app.first_name }} {{ app.last_name }} </b> </a>
            {% endif %}
            {% if app.read %}
            <a href="{% url 'portal:get_application' app.pk %}">  {{ app.first_name }} {{ app.last_name }}  </a>
            {% endif %}
        </div>
        <div class="applicant_date">
            Today
        </div>
        <br>
    </div>
    {% endfor %}

    </div>
</div>

{% endblock %}