@import 'constants/constants';
@import 'utils/utils';

//usual reset stuff
*,
*:before,
*:after,
ul,
li,
a,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
image,
svg,
path,
g,
canvas {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	text-decoration: none;
	user-select: none;
	list-style: none;
	position: relative;
}

@import 'components/link';
@import 'components/nav';
@import 'components/popover';
@import 'components/reset';
