{% load static from staticfiles %}
{% block externals %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/apply.css' %}">
{% endblock %}
{% block content %}
<html>
<head>

	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script type='text/javascript'>

  	//this script prevents users from leaving blank fields, but it doesn't work yet

  	function validateForm() {
  		var isValid = true;
   	 	$('.form').each(function() {
  	 	if ($(this).val() == '')
        	isValid = false;
  	  	});
    	return isValid;
  	}

  	$(document).ready(function() {
    	$('form').submit(function(e) {
      		if (validateForm() == false) {
        	alert("All fields must be filled!");
        	e.preventDefault(e);
      		}
    	});
  	});

  	</script>

</head>

<body>
	<h1 id = "title" class = "navbar-logo"> Apply to CodeBase </h1>
	<form method="POST" action="{% url 'portal:save_app' %}">
  	{% csrf_token %}
  		<p class = "question"> First Name: </p>
  		<input class = "form" id="first_name" type="text" name="first_name">
 	 	  <p class = "question"> Last Name: </p>
  		<input class = "form" id="last_name" type="text" name="last_name">
  		<p class = "question"> Berkeley Email: </p>
  		<input class = "form" id="email" type="text" name="email">
  		{% for question in questions_and_options %}
    		{% if question.0.question_type == "Paragraph" %}
      			<p class = "question"> {{ question.0.question_text }} </p>
      			<input class = "form" id={{question.0.pk}} type="text" name={{question.0.pk}}>

    		{% elif question.0.question_type == "Radiobutton" %}
      			<p class = "question"> {{ question.0.question_text }} </p>
      			{% for option in question.1 %}
        			<input id={{option}} name ={{question.0.pk}} type="radio" value={{option}}> {{option}} </br>
      			{% endfor %}

    		{% elif question.0.question_type == "Dropdown" %}
        		<div class="dropdown">
          		<p class = "question"> {{ question.0.question_text }} </p>
        		  <select name = {{question.0.pk}}>
    			     {% for option in question.1 %}
      			     <option id={{option}} type="dropdown" value="{{option}}" class="dropdown-content">{{option}}</option>
    			     {% endfor %}
				     </select>
        		</div>
    		{% elif question.0.question_type == "Checkbox" %}
      			<p class = "question"> {{ question.0.question_text }} </p>
      			{% for option in question.1 %}
        			<input id={{option}} name ={{question.0.pk}} type="checkbox" value={{option}}> {{option}}</br>
      			{% endfor %}
    		{% endif %}

  		{% endfor %}
  		</br>
  		</br>
  		<input id="submit" type="submit" value="Submit"/> </br>
	</form>
</body>
</html>
{% endblock %}
