{% extends 'portal/base.html' %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<!-- for now, the thanks.css file is in the same folder as thanks.html for testing purposes...will move to static/css folder afterwards -->
<link rel="stylesheet" type="text/css" href="thanks.css">

<body>

<div id = "main">
	<h1>Thank you for applying to CodeBase!</h1>


	<h2>We've received your application and will carefully review it. You'll hear from us about the status of your application by ________.</h2>

	<br>
	<br>

	<h2>- The CodeBase Team</h2>

</div>

</body>
</html>