{% extends 'portal/base.html' %}
{% load static from staticfiles %}

{% block externals %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_form.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'scripts/edit_form.js' %}"></script>
{% endblock %}

{% block content %}
{% for question, options in questions %}
	<div class="question">
	<div class="static_question">
	<span class="question_text">{{ question.question_text }}
    <button type="submit" class="edit-button">
    <img src="{% static 'images/edit.svg' %}">
    </button>
	<form action={% url 'portal:delete_question' %}" method="post" style="display: inline">
		{% csrf_token %}
	    <button type="submit" name="to_delete" value={{question.pk}} class="edit-button">
	    <img src="{% static 'images/trash.svg' %}">
	    </button>
	</form>
	</span>

	<div class="edit_input_options">
	{% if not options %}
		<br><input type="text">
	{% endif %}

	{% if question.question_type == "Checkbox" %}
	{% for option in options %}
		 <br><input type="checkbox">{{option}}
	{% endfor %}
	{% endif %}

	{% if question.question_type == "Radiobutton" %}
	{% for option in options %}
		 <br><input type="radio">{{option}}
	{% endfor %}
	{% endif %}

	{% if question.question_type == "Dropdown" %}
	<form>
	<select name ="options">
	{% for option in options %}
		 <option>{{option}}</option>
	{% endfor %}
	</select>
	</form>
	{% endif %}
	</div>

	<div class="edit_question">
	{% include "portal/question_forms/edit_question.html" with question=question options=options %}
	</div>
	<br/>
	</div>
	</div>
{% endfor %}
{% include "portal/question_forms/new_question.html" %}
{% endblock %}




