.dash-bar {
  height: 60px;
  color: $blue-mid;
  border-bottom: 1px solid $grey-off-white;

  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }

  .container {
    height: 100%;
    @include flex(center, space-between);
  }

  &-form {
    &-select {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      &-dropdown {
        min-width: 250px;
        padding: 15px 0px;
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          border: 7px solid transparent;
          border-bottom-color: #CCCCCC;
          top: -14px;
        }
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          border: 7px solid transparent;
          border-bottom-color: white;
          top: -14px;
        }
        &-item {
          display: block;
          padding: 5px 20px;
          &:hover {
            background-color: $blue-mid;
            color: white;
            text-decoration: none;
          }
        }
      }
    }
    &-name {
      cursor: pointer;
      font-size: 18px;
      span {
        margin-right: 10px;
      }
    }
  }

  &-sec {
    &-sm {
      flex: 1;
    }
    &-md {
      flex: 2;
    }
    &-lg {
      flex: 3;
    }
  }

  &-pull-left {
    /* Pulls content in this div all the way to the left. */
    @include flex(center, flex-start);
  }

  &-pull-right {
    /* Pulls content in this div all the way to the right. */
    @include flex(center, flex-end);
  }
}
