.nav {
  height: 80px;
  background-color: $blue-mid;
  color: white;

  .container {
    height: 100%;
    @include flex(center, space-between);
  }

  &-item-link {
    font-size: 24px;
    display: inline-block;
    color: rgba(255,255,255, 0.5);
    letter-spacing: 2px;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }

    &.active {
      color: white;
      text-decoration: none;
    }
  }

  &-pull-left {
    /* Pulls content in this div all the way to the left. */
    flex: 1;
    @include flex(center, flex-start);
  }
  &-pull-right {
    /* Pulls content in this div all the way to the right. */
    flex: 1;
    @include flex(center, flex-end);
  }
}
