* {
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 0 auto;
}

@media (min-width: $screen-sm-min) {
    .container {
        width: 768px;
    }
}
@media (min-width: $screen-md-mid) {
    .container {
        width: 992px;
    }
}
@media (min-width: $screen-lg-min) {
    .container {
        width: 1170px;
    }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
